<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Books Project{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'book_list' %}">Books Project</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'author_list' %}">Authors</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Books Project</p>
    </footer>
</body>
</html>