{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<div class="book-detail-container">
    <div class="book-detail-header">
        <h2>{{ object.title }}</h2>
    </div>
    <div class="book-detail-body">
        {% if object.cover_image %}
            <img src="{{ object.cover_image.url }}" alt="{{ object.title }} cover" class="book-detail-cover">
        {% endif %}
        <div class="book-detail-info">
            <p><strong>ISBN:</strong> {{ object.isbn }}</p>
            <p><strong>Pages:</strong> {{ object.pages }}</p>
            {% with authors=object.bookauthor_set.all %}
                {% if authors %}
                    <p>
                        <strong>Author{% if authors|length > 1 %}s{% endif %}:</strong>
                        {% for ba in authors %}
                            <a href="{% url 'author_detail' ba.author.pk %}">
                                {{ ba.author.first_name }} {{ ba.author.last_name }}
                            </a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
            {% if object.pdf %}
                <p><a href="{{ object.pdf.url }}" class="download-btn" download>Download PDF</a></p>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'book_list' %}" class="back-link">&larr; Back to Book List</a>
</div>
{% endblock %}